<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><%= appName %> report</title>
<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">
<div class="container">
	<div class="row">
	<% projects.forEach(item => { %>
		<div class="card-body">
			<h3 class="card-title"><%= item.title %></h3>
			<% item.children.forEach(child => {%>
				<span class="badge badge-pill badge-primary"><%= child.type %></span>
				<div class="card-text">
				<%- child.content %>
				</div>
			<% })%>	
		</div>
	<% })%>
	</div>
</div>
</body>
</html>
