<html>

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/parse/1.11.1/parse.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    /* TODO: change myAppId and myJavaScriptKey */
    Parse.initialize('<%= config.get("appId") %>', '<%= config.get("javascriptKey") %>');
    Parse.serverURL = '<% config.get("serverURL") %>'
  </script>

</head>

<body>
  <div id="app">
    <%- body %>
  </div>
</body>

</html>